@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-extrabold;
    @apply my-3;
  }
  h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply my-3;
  }
  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply my-3;
  }
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: GmarketSansMedium;
}
